body {
    background-image: url(../images/bglight.png);
    background-size: cover;
}


.Container h1 {
    text-align: center;
}

#custom-img-btn {
    display: flex;
    gap: 20px;
    width: fit-content;
    align-self: center;
    align-items: center;
}

.infoForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 110px;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid black;
    gap: 110px;
}


.inputText {
    width: 100%;
    border: none;
    outline: none;
}

.inputText::placeholder {
    font-family: "Poppins";
}


.buttonAvis{
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-self: center;
}

.image-container {
    position: relative;
}

#publication_image {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#publication_image img {
    width: 100%;
    display: block;
}

.close {
    color: var(--white);
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
}

.divMaxImages {
    background-color: var(--white);
    box-shadow: var(--shadow1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
    .superContainer {
        padding: 50px 20px;
        margin: 100px 20px;
    }

    .banner h1{
        text-align: center;
    }

    .divMaxImages {
        padding: 20px;
    }

}