footer {
    background-color: var(--blueDark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    padding: var(--pad);
    color: var(--white);
}

footer h3 {
    color: var(--goldPrimary);
}

.footer1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer2 {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    color: var(--white)
}

.submit {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 20px;
}

.ely {
    color: grey;
}

.newsletterInput {
    background-color: inherit;
    border: 2px solid var(--greyDark);
    border-radius: 4px;
    color: var(--white);
    flex: 1;
}

.footerinput {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1080px) {

    footer {
        flex-direction: column;
        padding: var(--padMobile);
        width: 100%;
    }

    .footerinput {
        flex-direction: column;
        width: 100%;
    }

    .footer1 {
        gap: 20px;
    }

    .submit {
        flex-direction: column;
        align-items: center;
    }

    .newsletterInput {
        width: 100%;
    }

}