@font-face {
    font-family: "athenaBook";
    src: url("../font/Athena-Book.ttf") format("truetype");
}

@font-face {
    font-family: "athenaBold";
    src: url("../font/Athena-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "athenaLight";
    src: url("../font/Athena-Light.ttf") format("truetype");
}

@font-face {
    font-family: "athenaRegular";
    src: url("../font/Athena-Regular.ttf") format("truetype");
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --greyLight: #D9D9D9;
    --greyDark: #888888;
    --blueLight: #003166;
    --bluePrimary: #002349;
    --blueDark: #001F41;
    --goldLight: #D3B673;
    --goldPrimary: #C29B40;
    --goldDark: #9B7B31;
    --shadow1: 0px 4px 20px rgba(0, 0, 0, 0.15);
    --bglight: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url(../../public/images/bglight.png);
    --bgdark: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url(../../public/images/bglight.png);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

h1 {
    font-family: "athenaBook", sans-serif;
    font-size: 48px;
}

h2 {
    font-family: "athenaBold", sans-serif;
    font-size: 40px;
}

h3 {
    font-family: "athenaRegular", sans-serif;
    font-size: 32px;
}

h4 {
    font-family: "athenaLight", sans-serif;
    font-size: 24px;

}

@media (max-width: 1024px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;

    }
}

.goldenButton{
    display: flex;
    text-transform:uppercase;
    border: none;
    border-radius: 4px;
    background-color: var(--goldPrimary);
    color: var(--white);
    padding: 20px 30px;
}

.goldenButton:hover{
    background-color: var(--goldLight);
}

.goldenButton:active{
    background-color: var(--goldDark);
}


.blueButton{
    display: flex;
    text-transform:uppercase;
    border: none;
    border-radius: 4px;
    background-color: var(--bluePrimary);
    color: var(--white);
    padding: 20px 30px;
}

.blueButton:hover{
    background-color: var(--blueLight);
}

.blueButton:active{
    background-color: var(--blueDark);
}

.blueGoldButton{
    display: flex;
    text-transform:uppercase;
    border: 1px solid var(--goldPrimary);
    border-radius: 4px;
    background-color: var(--bluePrimary);
    color: var(--goldPrimary);
    padding: 20px 30px;
}
.blueGoldButton:hover{
    background-color: var(--blueLight);
    color: var(--goldLight);
    border: 2px solid var(--goldLight);

}

.blueGoldButton:active{
    background-color: var(--blueDark);
    color: var(--goldDark);
    border: 3px solid var(--goldDark);

}