.logo {
    color: var(--goldPrimary);
}

.logo a:hover {
    text-decoration: none;
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 70px;
    list-style: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 90px;
    border-bottom: black 2px solid;
    gap: 10px;
    background-color: var(--white);
}

#desktop {
    display: flex;
    align-items: center;
}

#mobile {
    display: none;
    align-items: center;
}

#headerBurgerContent {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--greyLight);
    right: 0;
    padding: 20px;
    gap: 20px;
}

#headerBurgerContent li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

#headerBurgerContent li p {
    width: 100%;
    text-align: left;
}

#searchForm,
#searchFormMobile {
    display: none;
}

.searchInput {
    width: 300px;
}

.buttonSubmit {
    border: none;
    background-color: inherit;
    color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-family: inherit;
    font-size: inherit;
    justify-content: flex-start;
    cursor: pointer;
}

.buttonSubmit p:hover{
    text-decoration: underline;
}

.homepageSearchButtonMobile{
    border: none;
    background-color: inherit;
    color: inherit;
}

.searchFormInput{
    display: flex;
    flex-direction: row;
    gap: 5px;
    /* width: min-content; */
}

@media (max-width: 1024px) {
    header {
        padding: 10px 10px;
    }

    .logo {
        white-space: nowrap;
    }

    #desktop {
        display: none;
    }

    #mobile {
        display: flex;
    }

    header ul {
        gap: 10px;
    }

    .searchInput {
        width: 100%;
    }
}