.apartement {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    position: relative;
}

.userInfo ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
}

.readImage {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.readImage figure img {
    width: 100%;
    object-fit: cover;
}

#readDeleteMenu, .readDeleteMenu {
    background-color: var(--white);
    box-shadow: var(--shadow1);
    display: none;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#readDeleteMenuButton, .readDeleteMenuButton {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 1024px) {
    input {
        width: 100%;
    }

    .userForm {
        flex-direction: row;
    }

    .apartement {
        padding: 0px;
    }

    .readImage {
        flex-direction: column;
    }

}