.apartement {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    position: relative;
}

.userInfo ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
}

.user:hover {
    background-color: var(--whiteCream);
}

.user:active {
    background-color: var(--greyLight);
}

a.userInfo:hover {
    text-decoration: none;
}

.readImage {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.readImage figure img {
    width: 100%;
    object-fit: cover;
}

#readDeleteMenu,
.readDeleteMenu {
    background-color: var(--white);
    box-shadow: var(--shadow1);
    display: none;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#readDeleteMenuButton,
.readDeleteMenuButton {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.addPhoto {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.close {
    color: var(--white);
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
}

#publication_image {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#publication_image img {
    width: 100%;
    display: block;
}

.image-container {
    position: relative;
}

.divMaxImages {
    background-color: var(--white);
    box-shadow: var(--shadow1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.divMaxImages p {
    width: max-content;
}

.userContainer {
    position: relative;
}

.createCheckbox{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width: 1024px) {
    input {
        width: 100%;
    }

    .userForm {
        flex-direction: row;
    }

    .apartement {
        padding: 0px;
    }

    .readImage {
        flex-direction: column;
    }

    .divMaxImages {
        padding: 20px;
    }

}