body{
    background-image: url(../images/bglight.png);
    background-size: cover;
}


.superContainer {
    padding: 20px;
    gap: 20px;
    
}




.Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Container img {
    width:40%;
  
}

.img-reservation {
    width: 100%;
}