<link rel="stylesheet" href="../../css/footer.css">
<footer>

    <div class="footer1">
        <h3>Découvrir</h3>
        <p>Comment ça marche</p>
        <p>Notre conciergerie</p>
    </div>
    <div class="footer1">
        <h3>S'informer</h3>
        <p>À propos</p>
        <p>Politique de confidentialité</p>
        <p>Mentions légales</p>
        <p>Contactez-nous</p>
    </div>

    <div class="footer2">
        <div class="footerinput">
            <h4 class="h3footer">Inscrivez vous à notre newsletter</h4>
            <div class="submit">
                <input type="text" class="newsletterInput" placeholder="E-mail">
                <button class="goldenButton">Envoyer</button>
            </div>
        </div>

        <div class="icons">
            <img src="../../images/Facebook.svg" alt="facebook">
            <img src="../../images/Linkedin.svg" alt="linkedin">
            <img src="../../images/Twitter.svg" alt="twitter">
            <img src="../../images/instagram.svg" alt="instagram">
        </div>
        <p class="ely"> &copy; 2023 Elysians Paris Tous droits réservés.</p>

    </div>

</footer>

</body>

</html>