<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/header.css">
    <!-- <link rel="stylesheet" href="../../css/footer.css"> -->
    <link rel="stylesheet" href="../../css/logement.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../../images/logo.png">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <title>Public fiche logement</title>
</head>

<body>
    <header>
        <h3 class="logo">Elysians Paris</h3>
        <nav>
            <ul id="desktop">
                <li id="search"><i class="fa-solid fa-magnifying-glass"></i></li>
                <li id="searchForm">
                    <form action="" method="GET">
                        <input class="searchInput" type="text" placeholder="16ème arrondissement...">
                    </form>
                </li>
                <li><i class="fa-regular fa-bookmark"></i></li>
                <li><i class="fa-regular fa-message"></i></li>
                <li><i class="fa-regular fa-user"></i></li>
            </ul>
            <ul id="mobile">
                <li id="searchMobile"><i class="fa-solid fa-magnifying-glass"></i></li>
                <li id="searchFormMobile">
                    <form action="" method="GET">
                        <input class="searchInput" type="text" placeholder="16ème arrondissement...">
                    </form>
                </li>
                <li id="headerBurger"><i class="fa-solid fa-bars"></i></li>
            </ul>
            <ul id="headerBurgerContent">
                <li><i class="fa-regular fa-bookmark"></i><p>Vos favoris</p></li>
                <li><i class="fa-regular fa-message"></i><p>Messagerie</p></li>
                <li><i class="fa-regular fa-user"></i><p>Votre Profil</p></li>
            </ul>
        </nav>
    </header>

<main>
    <section class="nav-bar">
        <h1>
            Vos vacances méritent d'être inoubliables
        </h1>
        <div class="search">
            <input type="search" placeholder="Rechercher...">
            <button class="recherche">RECHERCHER</button>
            <button class="filtre">FILTRE</button>
        </div>

        <div class="journey">
            <input type="search" placeholder="Départ">
            <input type="search" placeholder="Arrivée">
        </div>
    </section>

    <section class="container">
        <h1>Appartement exceptionnel 4 pièces au Trocadéro</h1>

        <article>
            <h2>Description</h2>
            <p class="info">300m2   |   5 chambres   |   4 salles de bain</p>

            <img src="../../images/troca.png" alt="appartement 4 pièces">

            <div class="text-describe">
                <p>Cette superbe proriété de quatre chambres est l’expression ultime de l’architecture contemporaine, offrant à ses résidents un décor inpeccable  dans une palette de couleurs élégantes pour créer une atmosphère luxieuse et rayonante.</p>
                <p>La propriété comprend une cuisine ultra moderne et trois grands espaces de vie avec des baies vitrées, permettant à la lumière naturelle d’inondée l’espace. </p>
                <p>Les équipements du batiment sont conçus pour une expérience clé en main, offrant au résident un parking privé, une cave, une conciergerie, une sécurité 24h/24 et une piscine olympique. De plus, la terrasse vous offrira un cadre sublime pour vous imprénier du paysage et d’un soleil radieux.</p>
            </div>
        </article>
    </section>

    <section>
        <article class="features">
            <div class="caracteristic">
                <h2>Caractéristiques</h2> <hr>
                <p>100m2</p> <hr>
                <p>1 jacuzzi</p> <hr>
                <p>5 chambres</p> <hr>
            </div>
            <div class="caracteristic">
                <h2>Agréments</h2> <hr>
                <p>Vue sur la mer</p> <hr>
                <p>terrasse</p> <hr>
            </div>
            <div class="caracteristic">
                <h2>Particularités</h2> <hr>
                <p class="carac-text">Situé au 28e étage d’une résidence exclusive les appartements du chateau du Périgord ont été magnifiquement conçu dans un esprit de luxe et de douceur de vivre. En tant que summum du paysage architectural monégasque, les résidents bénéficient d’une vue panorama sur Monaco et son paysage azur méditeranéen qui s’étend à perte de vue.</p>
            </div>
        </article>
    </section> 


    <section class="">
        <article>
            <h1>Galerie du lieu de résidence</h1>

            <div class="galerie">
            <img src="../../images/sdb.png" alt="salle de bain">
            <img src="../../images/salon.png" alt="salon">
            <img src="../../images/cuisine.png" alt="cuisine">
            </div>
        </article>

        <article class="further">
            <h1>Renseignement</h1>
            <div class="hugo">
                <p class="further-info"><img src="../../images/agence.png" alt=""></p>
                <p>Pour toute information complémentaire nous restons à votre entière disposition et serons ravis de pouvoir vous aider. Le service client est disponible 24h/24 toute la semaine via téléphone, whatsapp, email ou en agence.</p>

                <article class="further-footer">
                    <div>
                        <h3>Téléphone</h3> <hr>
                        <p>+33 6 59 38 53 35</p>
                    </div>
                    <div>
                        <h3>Email</h3> <hr>
                        <p>contact.elysians@gmail.com</p>
                    </div>
                    <div>
                        <h3>Agence</h3> <hr>
                        <p>27 bis rue du Progrès, Paris 75016</p>
                    </div>
                
                </article>
            </div>
        </article>
    </section>
    <div><button class="add">RÉSERVER</button></div>
</main>




<footer>
   
   
</footer>



</body>
    <script src="../../js/app.js"></script>
    <script src="../../js/header.js"></script>