<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/photo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Composant</title>
</head>
<body class="corps">
    <div class="cover">
        <div class="box">
            <img src="/public/images/paris.jpeg" alt="logement2">
           <div class="star"><h3 class="monaco">Monaco</h3><i class="fa-regular fa-star"></i></div> 
           <div class="price"><p>Appartement de luxe | 169.8 m² | 4 pièces</p>   <p> 17 050€</p></div>

            <p class="price2">/mois</p>
        
        </div>
        <div class="box">
            <img src="/public/images/paris.jpeg" alt="logement2">
            <div class="star"><h3 class="monaco">Monaco</h3><i class="fa-regular fa-star"></i></div>
            <div class="price"><p>Appartement de luxe | 169.8 m² | 4 pièces</p>   <p> 17 050€</p></div>

            <p class="price2">/mois</p>
        
        </div>
    </div>
</body>
</html>
